.title {
  font-size: 95px;
  font-weight: 700;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.subtitle {
  font-size: 25px;
  font-weight: 500;
  padding-top: 10px;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.intro-text {
  width: 100%;
  text-align: center;
}
.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../Kitchen.png");
  background-position: center;
  background-size: cover;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.landingbutton {
  width: 200px;
  height: 55px;
  color: #daccc4;
  background-color: #9c6b4d;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;

  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingbutton {
    width: 150px;
    height: 50px;
    /* background-color: #daccc4; */
  }
}
